BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

LOCATE COMP "RESET0" SITE "1" ;

LOCATE COMP "CLK00" SITE "61" ;

LOCATE COMP "CDIV00[4]" SITE "5" ;
LOCATE COMP "CDIV00[3]" SITE "6" ;
LOCATE COMP "CDIV00[2]" SITE "9" ;
LOCATE COMP "CDIV00[1]" SITE "10" ;
LOCATE COMP "CDIV00[0]" SITE "11" ;

LOCATE COMP "OUTRS0" SITE "113" ;
LOCATE COMP "OUTRW0" SITE "117" ;
LOCATE COMP "OUTEN0" SITE "115" ;

LOCATE COMP "OUTRSLED0" SITE "99" ;
LOCATE COMP "OUTRWLED0" SITE "100" ;
LOCATE COMP "OUTENLED0" SITE "104" ;

LOCATE COMP "OUTFLAGCC0" SITE "60" ;
LOCATE COMP "OUTFLAGC0" SITE "58" ;

LOCATE COMP "OUTWORDLCD0[0]" SITE "120" ;
LOCATE COMP "OUTWORDLCD0[1]" SITE "119" ;
LOCATE COMP "OUTWORDLCD0[2]" SITE "122" ;
LOCATE COMP "OUTWORDLCD0[3]" SITE "121" ;
LOCATE COMP "OUTWORDLCD0[4]" SITE "126" ;
LOCATE COMP "OUTWORDLCD0[5]" SITE "125" ;
LOCATE COMP "OUTWORDLCD0[6]" SITE "128" ;
LOCATE COMP "OUTWORDLCD0[7]" SITE "127" ;

LOCATE COMP "OUTWORDLED0[0]" SITE "91" ;
LOCATE COMP "OUTWORDLED0[1]" SITE "92" ;
LOCATE COMP "OUTWORDLED0[2]" SITE "93" ;
LOCATE COMP "OUTWORDLED0[3]" SITE "94" ;
LOCATE COMP "OUTWORDLED0[4]" SITE "96" ;
LOCATE COMP "OUTWORDLED0[5]" SITE "95" ;
LOCATE COMP "OUTWORDLED0[6]" SITE "98" ;
LOCATE COMP "OUTWORDLED0[7]" SITE "97" ;

LOCATE COMP "OUTCONTCC0[4]" SITE "54" ;
LOCATE COMP "OUTCONTCC0[3]" SITE "55" ;
LOCATE COMP "OUTCONTCC0[2]" SITE "52" ;
LOCATE COMP "OUTCONTCC0[1]" SITE "50" ;
LOCATE COMP "OUTCONTCC0[0]" SITE "48" ;

LOCATE COMP "OUTCONTD0[4]" SITE "43" ;
LOCATE COMP "OUTCONTD0[3]" SITE "42" ;
LOCATE COMP "OUTCONTD0[2]" SITE "44" ;
LOCATE COMP "OUTCONTD0[1]" SITE "39" ;
LOCATE COMP "OUTCONTD0[0]" SITE "41" ;
