BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK0" SITE "61" ;
LOCATE COMP "RESET0" SITE "1" ;
LOCATE COMP "CDIV00[4]" SITE "5" ;
LOCATE COMP "CDIV00[3]" SITE "6" ;
LOCATE COMP "CDIV00[2]" SITE "9" ;
LOCATE COMP "CDIV00[1]" SITE "10" ;
LOCATE COMP "CDIV00[0]" SITE "11" ;
LOCATE COMP "OUTCODER0[6]" SITE "77" ;
LOCATE COMP "OUTCODER0[5]" SITE "78" ;
LOCATE COMP "OUTCODER0[4]" SITE "81" ;
LOCATE COMP "OUTCODER0[3]" SITE "82" ;
LOCATE COMP "OUTCODER0[2]" SITE "83" ;
LOCATE COMP "OUTCODER0[1]" SITE "84" ;
LOCATE COMP "OUTCODER0[0]" SITE "85" ;
LOCATE COMP "OUTTRANSIST0[3]" SITE "76" ;
LOCATE COMP "OUTTRANSIST0[2]" SITE "75" ;
LOCATE COMP "OUTTRANSIST0[1]" SITE "74" ;
LOCATE COMP "OUTTRANSIST0[0]" SITE "73" ;


