BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "OUTS0[7]" SITE "59" ;
LOCATE COMP "OUTS0[6]" SITE "57" ;
LOCATE COMP "OUTS0[5]" SITE "56" ;
LOCATE COMP "OUTS0[4]" SITE "54" ;
LOCATE COMP "OUTS0[3]" SITE "55" ;
LOCATE COMP "OUTS0[2]" SITE "52" ;
LOCATE COMP "OUTS0[1]" SITE "50" ;
LOCATE COMP "OUTS0[0]" SITE "48" ;
LOCATE COMP "CLK0" SITE "61" ;
LOCATE COMP "CDIV00[4]" SITE "5" ;
LOCATE COMP "CDIV00[3]" SITE "6" ;
LOCATE COMP "CDIV00[2]" SITE "9" ;
LOCATE COMP "CDIV00[1]" SITE "10" ;
LOCATE COMP "CDIV00[0]" SITE "11" ;
LOCATE COMP "RESET0" SITE "1" ;
LOCATE COMP "INS0[7]" SITE "26" ;
LOCATE COMP "INS0[6]" SITE "25" ;
LOCATE COMP "INS0[5]" SITE "28" ;
LOCATE COMP "INS0[4]" SITE "27" ;
LOCATE COMP "INS0[3]" SITE "33" ;
LOCATE COMP "INS0[2]" SITE "32" ;
LOCATE COMP "INS0[1]" SITE "35" ;
LOCATE COMP "INS0[0]" SITE "34" ;
