BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

LOCATE COMP "CLK00" SITE "61" ;

LOCATE COMP "ENABLE0" SITE "1" ;

LOCATE COMP "CDIV00[4]" SITE "2" ;
LOCATE COMP "CDIV00[3]" SITE "3" ;
LOCATE COMP "CDIV00[2]" SITE "4" ;
LOCATE COMP "CDIV00[1]" SITE "5" ;
LOCATE COMP "CDIV00[0]" SITE "6" ;

LOCATE COMP "FUNCT0[5]" SITE "9" ;
LOCATE COMP "FUNCT0[4]" SITE "10" ;
LOCATE COMP "FUNCT0[3]" SITE "11" ;
LOCATE COMP "FUNCT0[2]" SITE "12" ;
LOCATE COMP "FUNCT0[1]" SITE "13" ;
LOCATE COMP "FUNCT0[0]" SITE "14" ;

LOCATE COMP "INREGRS0[7]" SITE "19" ;
LOCATE COMP "INREGRS0[6]" SITE "20" ;
LOCATE COMP "INREGRS0[5]" SITE "21" ;
LOCATE COMP "INREGRS0[4]" SITE "22" ;
LOCATE COMP "INREGRS0[3]" SITE "132" ;
LOCATE COMP "INREGRS0[2]" SITE "133" ;
LOCATE COMP "INREGRS0[1]" SITE "24" ;
LOCATE COMP "INREGRS0[0]" SITE "23" ;

LOCATE COMP "INREGRT0[7]" SITE "26" ;
LOCATE COMP "INREGRT0[6]" SITE "25" ;
LOCATE COMP "INREGRT0[5]" SITE "28" ;
LOCATE COMP "INREGRT0[4]" SITE "27" ;
LOCATE COMP "INREGRT0[3]" SITE "33" ;
LOCATE COMP "INREGRT0[2]" SITE "32" ;
LOCATE COMP "INREGRT0[1]" SITE "35" ;
LOCATE COMP "INREGRT0[0]" SITE "34" ;

LOCATE COMP "OUTALU0[7]" SITE "50" ;
LOCATE COMP "OUTALU0[6]" SITE "48" ;
LOCATE COMP "OUTALU0[5]" SITE "49" ;
LOCATE COMP "OUTALU0[4]" SITE "47" ;
LOCATE COMP "OUTALU0[3]" SITE "45" ;
LOCATE COMP "OUTALU0[2]" SITE "43" ;
LOCATE COMP "OUTALU0[1]" SITE "42" ;
LOCATE COMP "OUTALU0[0]" SITE "44" ;

LOCATE COMP "OUTFLAGINST0" SITE "60" ;

LOCATE COMP "OUTFLAGAC0" SITE "58" ;
