BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "SELECTOR[2]" SITE "1" ;
LOCATE COMP "SELECTOR[1]" SITE "2" ;
LOCATE COMP "SELECTOR[0]" SITE "3" ;
LOCATE COMP "A[7]" SITE "5" ;
LOCATE COMP "A[6]" SITE "6" ;
LOCATE COMP "A[5]" SITE "9" ;
LOCATE COMP "A[4]" SITE "10" ;
LOCATE COMP "A[3]" SITE "11" ;
LOCATE COMP "A[2]" SITE "12" ;
LOCATE COMP "A[1]" SITE "13" ;
LOCATE COMP "A[0]" SITE "14" ;
LOCATE COMP "B[7]" SITE "19" ;
LOCATE COMP "B[6]" SITE "20" ;
LOCATE COMP "B[5]" SITE "21" ;
LOCATE COMP "B[4]" SITE "22" ;
LOCATE COMP "B[3]" SITE "24" ;
LOCATE COMP "B[2]" SITE "23" ;
LOCATE COMP "B[1]" SITE "26" ;
LOCATE COMP "B[0]" SITE "25" ;
LOCATE COMP "SALIDA[7]" SITE "59" ;
LOCATE COMP "SALIDA[6]" SITE "57" ;
LOCATE COMP "SALIDA[5]" SITE "56" ;
LOCATE COMP "SALIDA[4]" SITE "54" ;
LOCATE COMP "SALIDA[3]" SITE "55" ;
LOCATE COMP "SALIDA[2]" SITE "52" ;
LOCATE COMP "SALIDA[1]" SITE "50" ;
LOCATE COMP "SALIDA[0]" SITE "48" ;
