BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[3]" SITE "1" ;
LOCATE COMP "Ai[2]" SITE "2" ;
LOCATE COMP "Ai[1]" SITE "3" ;
LOCATE COMP "Ai[0]" SITE "4" ;

LOCATE COMP "Bi[3]" SITE "5" ;
LOCATE COMP "Bi[2]" SITE "6" ;
LOCATE COMP "Bi[1]" SITE "9" ;
LOCATE COMP "Bi[0]" SITE "10" ;

LOCATE COMP "So[3]" SITE "55" ;
LOCATE COMP "So[2]" SITE "52" ;
LOCATE COMP "So[1]" SITE "50" ;
LOCATE COMP "So[0]" SITE "48" ;

LOCATE COMP "SL" SITE "11" ;

LOCATE COMP "LED" SITE "91" ;