BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "VECTOR_SALIDA[31]" SITE "59" ;
LOCATE COMP "VECTOR_SALIDA[30]" SITE "57" ;
LOCATE COMP "VECTOR_SALIDA[29]" SITE "56" ;
LOCATE COMP "VECTOR_SALIDA[28]" SITE "54" ;
LOCATE COMP "VECTOR_SALIDA[27]" SITE "55" ;
LOCATE COMP "VECTOR_SALIDA[26]" SITE "52" ;
LOCATE COMP "VECTOR_SALIDA[25]" SITE "50" ;
LOCATE COMP "VECTOR_SALIDA[24]" SITE "48" ;
LOCATE COMP "VECTOR_SALIDA[23]" SITE "49" ;
LOCATE COMP "VECTOR_SALIDA[22]" SITE "47" ;
LOCATE COMP "VECTOR_SALIDA[21]" SITE "45" ;
LOCATE COMP "VECTOR_SALIDA[20]" SITE "43" ;
LOCATE COMP "VECTOR_SALIDA[19]" SITE "42" ;
LOCATE COMP "VECTOR_SALIDA[18]" SITE "44" ;
LOCATE COMP "VECTOR_SALIDA[17]" SITE "39" ;
LOCATE COMP "VECTOR_SALIDA[16]" SITE "41" ;

LOCATE COMP "VECTOR_SALIDA[15]" SITE "91" ;
LOCATE COMP "VECTOR_SALIDA[14]" SITE "92" ;
LOCATE COMP "VECTOR_SALIDA[13]" SITE "93" ;
LOCATE COMP "VECTOR_SALIDA[12]" SITE "94" ;
LOCATE COMP "VECTOR_SALIDA[11]" SITE "96" ;
LOCATE COMP "VECTOR_SALIDA[10]" SITE "95" ;
LOCATE COMP "VECTOR_SALIDA[9]" SITE "98" ;
LOCATE COMP "VECTOR_SALIDA[8]" SITE "97" ;
LOCATE COMP "VECTOR_SALIDA[7]" SITE "99" ;
LOCATE COMP "VECTOR_SALIDA[6]" SITE "100" ;
LOCATE COMP "VECTOR_SALIDA[5]" SITE "104" ;
LOCATE COMP "VECTOR_SALIDA[4]" SITE "105" ;
LOCATE COMP "VECTOR_SALIDA[3]" SITE "106" ;
LOCATE COMP "VECTOR_SALIDA[2]" SITE "107" ;
LOCATE COMP "VECTOR_SALIDA[1]" SITE "40" ;
LOCATE COMP "VECTOR_SALIDA[0]" SITE "38" ;


LOCATE COMP "VECTOR_ENTRADA[15]" SITE "19" ;
LOCATE COMP "VECTOR_ENTRADA[14]" SITE "20" ;
LOCATE COMP "VECTOR_ENTRADA[13]" SITE "21" ;
LOCATE COMP "VECTOR_ENTRADA[12]" SITE "22" ;
LOCATE COMP "VECTOR_ENTRADA[11]" SITE "132" ;
LOCATE COMP "VECTOR_ENTRADA[10]" SITE "133" ;
LOCATE COMP "VECTOR_ENTRADA[9]" SITE "24" ;
LOCATE COMP "VECTOR_ENTRADA[8]" SITE "23" ;

LOCATE COMP "VECTOR_ENTRADA[7]" SITE "26" ;
LOCATE COMP "VECTOR_ENTRADA[6]" SITE "25" ;
LOCATE COMP "VECTOR_ENTRADA[5]" SITE "28" ;
LOCATE COMP "VECTOR_ENTRADA[4]" SITE "27" ;
LOCATE COMP "VECTOR_ENTRADA[3]" SITE "33" ;
LOCATE COMP "VECTOR_ENTRADA[2]" SITE "32" ;
LOCATE COMP "VECTOR_ENTRADA[1]" SITE "35" ;
LOCATE COMP "VECTOR_ENTRADA[0]" SITE "34" ;